/* Global */
body {
  font-family: 'Georgia', serif;
  background-color: #FFFAE1; /* Jaune pastel */
  color: black;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #A8D5BA; /* Vert pastel */
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #A8D5BA;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: #FFB6C1; /* Rose pastel */
}

/* Section Titles */
h2 {
  color: #A8D5BA; /* Vert pastel */
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

/* Content Layout */
.item {
  background-color: #FFB6C1; /* Rose pastel */
  border-radius: 15px;
  padding: 20px;
  margin: 15px auto;
  width: 80%;
  max-width: 800px;
}

.item h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.item blockquote {
  font-style: italic;
  text-align: center;
  color: #555;
}

.item img {
  max-width: 100%;
  border-radius: 15px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #A8D5BA; /* Vert pastel */
  padding: 10px;
  color: white;
  font-size: 1em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #FFB6C1; /* Rose pastel */
}
